<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <p align="center">{{x-timer autoStart='true' format='SS' stopRequired=false}}</p>
            <p align="center">sedang merakit data...</p>
        </div>
    </div>
</div>
